{% extends '@app/list.html.twig' %}

{% block listBody %}

    {% for entity in data %}
        <div class="table-responsive padding-bottom-10">
            <table class="table table-hover table-bordered{% if loop.index is odd %} odd{% endif %}" data-toggle="table">
                {% for field in fields %}
                    {% include '@app/components/vertitcalRow.html.twig' %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}

{% endblock %}