{% use "@app/widgets.html.twig" %}
{% use "@app/misc/widget_text_max_lines.html.twig" %}

<div class="panel panel-default app-list-feed">
    
    {% if data | length %}
        
        {% if (view.top | length) or (view.showCount) %}
            <div class="panel-heading">
                {% for field in (view.top | view_fields(data[0])) %}
                    {{ block('widget_field') }}
                {% endfor %}
                
                {% if view.showCount %}
                    <div class="pull-right">
                        Count: {{ data | length }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        
        {% set fields = (view.fields | view_fields(data[0])) %}
        
        <div class="panel-body padding-30">
            {% for entity in data %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered{% if loop.index is odd %} odd{% endif %}" data-toggle="table">
                        {% for field in fields %}
                            <tr>
                                <td width="15%"><strong>{{ field.name|humanize }}</strong></td>
                                <td>{{ block('widget_field') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                
                <div class="padding-bottom-10"></div>
            {% endfor %}
        
        </div>
    {% endif %}
</div>