{% form_theme form '@app/form/custom_layout.html.twig' %}

<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data" class="appgear-form">
            {% for fieldName in form|keys %}
                {{ form_row(attribute(form, fieldName)) }}
            {% endfor %}

            <input type="submit" value="Save" class="btn btn-default">
        </form>
    </div>
</div>