{% extends '@app/list.html.twig' %}

{% block listBody %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped" data-toggle="table">
            
            <thead>
            <tr>
                {% for field in fields %}
                    <th>
                        <div class="th-inner">
                            {{ field.field.name|humanize|ucwords }}
                        </div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            
            <tbody>
            {% for entity in data %}
                <tr>
                    {% for field in fields %}
                        <td>
                            {{ block('widget_field') }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block listBodyEmpty %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped" data-toggle="table">
            <tr>
                <td class="text-center">No Data</td>
            </tr>
        </table>
    </div>
{% endblock %}
