.widget_text_max_lines {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.42857143em; /* default line-height for bootstrapped table */
    max-height: 4.28em; /* by default, show only 3 lines - 3 x line-height */
}

/* For displays collection into detail or list view */
td ul {
    margin-bottom: 0px;
    padding-left: 18px;
}

.odd {
    background-color: #f9f9f9 !important;
}

.live-edit {
    border-bottom: 1px dashed;
    display: inline;
}

.fast-button {
    float: left;
    color: #fff;
    height: 50px;
    font-size: 21px;
    font-weight: bold;
    border-right: rgba(255, 255, 255, 0.1) 1px solid;
    padding: 10px 15px 0;
}

.fast-button:hover, .fast-button:focus {
    color: #fff;
}

/** Detail top links like buttons (emulate btn btn-primary btn-xs) **/
.panel-heading a {
    color: #fff;
    background-color: #4b5354 !important;
    border-color: #4b5354;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 13px;
}

/* Отключил green.css из SmartyAdmin - шапка поменяла цвет - восстанавливаем */
header#header {
    background-color: #5a6667;
}

/* Selectize делает height: auto и переопределяем значение height:34px из bootstrap.min.css.
   Это приодит к тому, что в админке "едут" фильтр с выпадающим списком и чекбокс-отрицания
 */
.form-control.selectize-control {
    height: 34px !important;
}